body{
  background-color:rgb(248, 245, 245);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:1vw;
}

table{
  font-family: sans-serif;
}

button{
  font-size: 1vw;
}
sup{
  color: red;
}

/* Custom classes */
.custom-bg-primary{
  background-color:rgb(53, 9, 94);
  color:white;
}

.custom-bg-secondary{
  background-image: linear-gradient(200deg, rgb(53, 18, 119), rgb(128, 4, 128),rgb(131, 5, 5));
  color:white;
}

.custom-text-primary{
  color:rgb(53, 9, 94);
}

.form-control{
  font-size: 1.2vw;
}

.form-control-sm{
  font-size: 1vw;
}
.btn-sm{
  font-size: 1vw;
}

.list-group{
  border-radius: 0;
}

/* Processing */
#processing{
  position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.5); z-index: 999999,
}

/* Top Navigation */
#topnav{
  position: fixed; width: 100%; 
  top: 0; left: 0; padding-left: 17vw;
  z-index: 97;
}
.topnav{
  position: fixed; width: 100%; 
  top: 0; left: 0; padding-left: 3vw;
  z-index: 97;
}

.topnav-title{
  font-size: 1.5vw;
  color: rgb(53, 9, 94);
}
.topnav .right{
  position: absolute; right: 35px; top: 1vw; 
  font-size: 1.5vw;
}

#main-menu{
 position: fixed; top: 0; left: 0; width: 100vw;
 background-color: rgba(0, 0, 0, 0.5); z-index: 9999;
 transition: opacity 500ms ease-out;
 overflow: hidden;
}

.hide-menu{
  height: 0; 
  opacity: 0.5;
}

.show-menu{
  height: 100vh;
  opacity: 1;
}

.main-menu-menu{
  width: calc((100% - 60px)/3); height: auto; padding: 5px; border-radius: 5px; margin: 10px;
  color: rgb(53, 9, 94); font-size: 1vw; float: left; border: 1px solid rgba(235, 111, 111, 0.527);
}

.main-menu-menu i{
  font-size: 2.5vw;
  margin-bottom: 5px;
}

.main-menu-menu:hover{
  text-decoration: none;
  color: rgb(21, 187, 187);
  border: 1px solid rgba(103, 255, 2, 0.425);
}

/* Sidenav */

#sidenav{
  position: fixed; top: 0; left: 0; z-index: 98;
  height: 100vh; width: 15vw; 
  background-image: linear-gradient(230deg, rgb(53, 9, 94),rgb(97, 24, 119));
}
.sidenav-user{
  height: auto; padding: 30px 0;
  margin-bottom: 20px; box-shadow: 0px 3px 3px rgba(237, 241, 237, 0.404);
  background-color: rgba(77, 11, 97, 0.336);
  border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
}
.sidenav-image{
  height: 5vw; width: 5vw; border-radius: 50%;
}
.sidenav-username{
  font-size: 1.5vw;
}
.sidenav-email{
  font-size: 0.7vw;
}

.copyright-text{
  position: fixed; top: 95vh;
  width: 15vw; font-size: 1vw;
}

#sidenav .list-group{
  background-color: transparent;
}
#sidenav .list-group-item{
  padding: 3px 0 3px 1.5vw;
  font-size: 1.1vw;
  background-color: transparent;
  border: none; color: wheat;
  cursor: pointer;
}

#sidenav .list-group-item i{
  margin-right: 1vw;
}

#sidenav .list-group-item:hover{
  border: all; color: rgb(14, 252, 26);
  text-decoration: none;
}

#sidenav .divider{
  background-color: rgba(119, 7, 248, 0.349); margin: 10px 1vw;
}

/* Public page */
.background_cover{
  position: fixed; left: 0;
  width: 100vw; height: 100vh;
  padding-top: 30vh; padding-left: 16vw;
}

.blur{
  width: 100%; height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-image: linear-gradient(50deg, rgba(76, 0, 130, 0.493), rgba(0, 0, 255, 0.418));
  opacity: 0.3; z-index: 1
}
.preview{
  z-index: 99; padding: 0 10vw;
}

/* Page Container */
.page-container{
  margin-top: 60px;
}

/* Dashboard */
.dashboard-primary-tags{
  position: relative;
  border-radius: 0.2vw;
  margin: 20px; width: calc((100% - 120px)/3);
  padding: 2vw 2vw;
}
.dashboard-primary-tags h3{
  margin: 0 20%;
  font-size: 4vw; color: white;
}
.dashboard-primary-tags b{
  margin: 0 10%;
  font-size: 1vw; color: white;
}
.dashboard-primary-tags i{
  position: absolute; right: 15%; top: 15%;
  font-size: 6vw; color: rgba(128, 123, 123, 0.671);
}
.dashboard-secondary-tags{
  margin: 30px; width: calc((100% - 120px)/2);
  background-color: white;
  box-shadow:0px 1px 2px 0px grey;
}


/* Consultation page */
.patient_profile{
  position: absolute; left: 0; width: 100%;
  background-size: cover;
  background-image: linear-gradient(200deg, rgb(112, 37, 250), rgb(248, 20, 248),rgb(248, 24, 24));
}
.patient_profile p{
 font-weight: bolder; font-size: 1.2vw;
}

.patient_page_tabs{
  position: absolute; right: 0; width: 100%;
  box-shadow: 0px 0.2vw 0.3vw 0px rgba(53, 9, 94, 0.486);
}

.patient_page_tabs .list-group-item{
  text-decoration: none; font-size: 1.1vw;
}

.patient_page_tabs .list-group-item:hover{
  text-decoration: none; background-color: rgb(53, 9, 94); color: #fff;
}