:root{
  --theme-dark:rgb(19, 18, 18);
  --theme-light:rgb(53, 41, 41);
  --theme-white:rgb(255, 255, 255);
  --theme-primary:rgb(55, 46, 99);
  --theme-secondary:rgb(231, 21, 221);
}

*{
  box-sizing: border-box;
}

body{
  background-color:var(--theme-white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.form-group{
  position: relative;
  padding-top: 10px;
}

label{
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 18px;
  font-size: .9em;
  opacity: 0.5;
  transition: 0.2s ease all;
}

input:focus + label,
textarea:focus + label,
select:focus + label,
input:not([value=""]) + label,
textarea:not(:empty) + label,
select:not([data-value=""]) + label{
  top: -6px;
  opacity: 1;
  left:10px;
  font-size: .7em;
  color: var(--theme-secondary);
}

.form-control,
.form-control:focus
.form-control:invalid{
  border-radius: 0 !important;
  outline: none !important;
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid var(--theme-primary) !important;
}



table{
  font-family: sans-serif;
}

button{
  font-size: 0.9em;
}

sup{
  color: red;
}

.login h1,
.login h5,
.login b{
  text-align: center;
  color: var(--theme-primary);
}

.login b{
  cursor: pointer; margin-left: 10px;
}
.login h6{
  text-align: center;
}

.list-group{
  border-radius: 0; border: none;
}
.list-group-item{
  border: none;
}
.list-group-item b>span{
  float: right; font-weight: 400;
}


.fa-angle-right{
  margin: 0 10px;
}

/* Other customs */
.cu-bg-primary{
  background-color: var(--theme-primary);
  color: white;
}

.cu-bg-primary:hover,.cu-bg-primary:focus{
  background-color: var(--theme-primary);
  color: white;
}

.cu-bg-secondary{
  background-color: var(--theme-secondary);
  color: white;
}

.cu-text-primary{
  color: var(--theme-primary);
}

.card{
  box-shadow: var(--theme-secondary);
}

.card-header{
  position: relative;
  background-color: var(--theme-primary);
  font-size: 1em; font-weight: bold;
  display: inline-flex;
  align-items: center;
  align-content: center;
  color: white;
}

.card-header button{
  position: absolute;
  right: 20px;
  color: var(--theme-dark);
  background-color: white;
  padding: 3px 10px;  
  border-radius: 5px;  border: none;
  transition: ease 0.4s;
}

.card-header .form-control{
  position: absolute;
  right: 150px;
}

.card .card-header .btn:hover{
  background-color: red;
  padding-left: 10px;
  padding-right: 10px;
}

.card .card-header input{
  width: 15vw; float: right; border: none;
  margin-right: 20px; background-color: rgba(255, 255, 255, 0.486);
}

th{
  font-size: 0.7em;
}

table>tbody>tr>td{
  font-size: 0.9em;
}

table>tbody>tr>td>.btn{
  margin: 0; padding: 1px 10px;
  font-size: 0.9em;
  transition: ease-in 0.3s;
}

.list-group{
  margin: 0;
  padding: 0;
}

.list-group-item span:last-child{
  float: right;
  font-weight: bolder;
}


/* Login */
.auth-temp{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  align-content: center;
  overflow-y: auto;
}


.login{
  height: auto;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-white);
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.5);
}

.login img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 3px;
  border: 3px solid var(--theme-primary);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.login .card{
  border: none;
  width: 100%;
  height: 100%;
}


@media (max-width: 700px) {
  .login{
    min-height: 100vh;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 0 20px;
  }
}



/* sidenav */
.sidenav{
  position: fixed;
  left: 0; top: 0; font-size:0.9em;
  width: 200px; 
  height: 100vh; z-index: 99;
  background-image: linear-gradient(45deg, var(--theme-primary), var(--theme-secondary),var(--theme-primary));
  border-right: 1px solid rgb(202, 196, 196);
  overflow: hidden;
}


.sidenav-logo{
  position: relative;
  width: 100%;
  background-color: var(--theme-primary);
  border-bottom:1px solid rgba(222, 248, 223, 0.342);
  display: flex;
  align-items: center;
  align-content: center;
  height: 50px;
  color: var(--theme-secondary);
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  padding-left: 20px;
}

.sidenav_body{
  position: relative;
  height: calc(100% - 50px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidenav .list-group-item{
  font-size: 0.9em;
  background-color: transparent;
  color: var(--theme-white);
  cursor: pointer; 
  text-decoration: none; 
  text-align: left;
  padding: 0.8em 1em;
}

.sidenav .list-group-item:hover{
  background-color: var(--theme-secondary);
  color: var(--theme-white);
}

.sidenav .list-group-item i{
  margin-right: 0.8vw;
}

.copyright-text{
  position: fixed; 
  bottom: 10px; 
  right: 20px;
  width: auto;
  color: var(--theme-secondary);
  text-decoration: none;
  font-size: 0.9em;
}

.copyright-text:hover{
  text-decoration: none;
}

/* Page view */
.page_container{
  position: relative;
  width: calc(100vw - 185px); 
  margin-left: 200px;
  height: 100vh; 
  overflow-y: scroll; 
  overflow-x: hidden;
  background-size: cover;
}



/* Top Navigation */
.topnav{
  position: absolute;
  top: 0; left: 0;
  width: 100%; 
  padding-left: 50px;
  height: 50px;
  color: var(--theme-primary);
  display: inline-flex;
  align-items: center;
  align-content: center;
  background-color: var(--theme-white);
  z-index: 90; 
  border-bottom:1px solid rgba(222, 248, 223, 0.678);
}

.topnav-title{
  font-size: 1em;
  color: var(--theme-primary);
}
.topnav .right{
  position: absolute; right: 0px; 
}

#main-menu{
 position: fixed; top: 0; left: 0; width: 100vw;
 background-color: rgba(0, 0, 0, 0.5); z-index: 9999;
 transition: opacity 500ms ease-out;
 overflow: hidden;
 overflow-y: auto;
}

.hide-menu{
  height: 0; 
  opacity: 0.5;
}

.show-menu{
  height: 100vh;
  opacity: 1;
}

.main-menu-menu{
  width: calc((100% - 60px)/3); height: auto; padding: 5px; border-radius: 5px; margin: 10px;
  color: var(--theme-primary); float: left; border: 1px solid var(--theme-secondary);
}

.main-menu-menu i{
  font-size: 2em;
  margin-bottom: 5px;
}

.main-menu-menu:hover{
  text-decoration: none;
  color: var(--theme-secondary);
  border: 1px solid var(--theme-primary);
}


/* Page body */
.page_body{
  width: 100%;
  padding-top: 70px;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background-image: var(--theme-light);
}

/* Dashboard */
.dash_item{
  height: 400px;
  margin-bottom: 50px;
}

.dash_item .canvas{
  border-radius: 3px;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Consultation page */
.patient_profile{
  position: relative; 
  left: 0; width: 100%;
  background-size: cover;
  border: 0;
  padding: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(200deg, var(--theme-primary), var(--theme-secondary),rgb(248, 24, 24));
}

.patient_profile .image{
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-image: url(/static/person_icon.png);
  background-size: cover;
  background-position: center;
}

.patient_profile p{
  width: 100%;
  text-align: center;
  color: var(--theme-white);
  font-weight: bolder;
  font-size: 1em;
  margin-top: 10px;
}

.patient_page_tabs{
  position: absolute; right: 0; width: 100%;
  box-shadow: 0px 3px 3px 0px var(--theme-primary);
}

.patient_page_tabs .list-group-item{
  text-decoration: none; font-size: 0.9em;
}

.patient_page_tabs .list-group-item:hover{
  text-decoration: none;
  background-color: var(--theme-primary); 
  color: var(--theme-white);
}

/* Pagination */
.pagination-buttons{
  cursor: pointer;
  padding: 0;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
}

.pagination-buttons button{
  color: red;
  background-color: transparent;
  margin-right: 0;
  padding: 0 10px;
  margin: 0;
  font-weight: bolder;
  border: none;
  border-right:  1px solid var(--theme-secondary);
}

.pagination-buttons button:disabled{
  color: grey;
}
.pagination-buttons button:disabled:hover{
  color: grey;
  background-color: transparent;
}